<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="emerge_module" params="name">
    <link name="${name}_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.0385 0.0305 0.0275" />
        </geometry>
        <material name="orange">
          <color rgba="1 0.4 0 1" />
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <box size="0.061 0.055 0.077" />
        </geometry>
      </collision>

      <inertial>
        <mass value="0.06" />
        <inertia ixx="0.00006" iyy="0.00005" izz="0.00007"
          ixy="0" ixz="0" iyz="0" />
      </inertial>
    </link>
  </xacro:macro>

  <xacro:emerge_module name="emerge_module" />
  
</robot>